* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* FUENTES */

@font-face {
    font-family: "WebSymbolsRegular";
    src: url(fonts/websymbols-regular-webfont.eot);
    src: url(fonts/websymbols-regular-webfont.eot?#iefix) format('embedded-opentype'),
        url(fonts/websymbols-regular-webfont.woff) format('woff'),
        url(fonts/websymbols-regular-webfont.ttf) format('truetype'),
        url(fonts/websymbols-regular-webfont.svg#WebSymbolsRegular) format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "TrebuchetMS";
    src: url(fonts/TrebuchetMS.ttf);
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "BebasNeue";
    src: url(fonts/BebasNeue.otf);
    font-weight: normal;
    font-style: normal;
  }

/* Main Styling */

body, html {
    background: #444;   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a {
    text-decoration: none;
    color: #333;
}

/* Utilities */


/* Navbar */

#navbar {
    background: rgb(221, 79, 79);
    background: #f6680b;
    color: #fff;
    
}

#navbar a {
    color: #fff;
}

#navbar .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0 70px;
}

#navbar ul li a {
    padding: 0 10px;
    margin: 0 10px;
}

#navbar ul li a:hover {
    border-bottom: oldlace solid 3px;
    color: #96d735;
}

#navbar h1 {
    padding-left: 65px;
    font-size: 35px;
}

#navbar .upper {
    color: #96d735;
}


/* Showcase */
#showcase {
    background: url(./img/737_93-1280x960.jpg) no-repeat center center/cover;
    height: 600px;
}

#showcase .showcase-content {
    text-align: center;
    padding-top: 170px;
    line-height: 60px;
}

#showcase .showcase-content h1 {
    font-size: 80px;
}

#showcase .showcase-content p {
    font-size: 18px;
}

#showcase .showcase-content .btn {
    padding: 10px 15px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#showcase .showcase-content .btn:hover {
    border-top: #96d735 solid 2px;
    border-right: #96d735 solid 2px;
    border-bottom: #f6680b solid 2px;
    border-left: #f6680b solid 4px;
}

#showcase span .btn-sp01:hover {
    color: #f6680b;
}

#showcase .showcase-content a .btn-sp02:hover {
    color: #96d735;
}

/* Home Info */

#home-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#home-info .info-block {
    display: flex;
    flex-direction: row;
}

#home-info .info-img {
    width: 50%;
    min-height: 100%;
}

#home-info .info-img-01 {
    background: url(./img/878_98-1280x960.jpg) no-repeat center center/cover;
    
}

#home-info .info-img-02 {
    background: url(./img/pexels-markus-spiske-1936299.jpg) no-repeat center center/cover;
    
}

#home-info .info-img-03 {
    background: url(./img/tech1.jpg) no-repeat center center/cover;
    
}

#home-info .info-content {
    padding: 80px;
    width: 50%;
}

#home-info .info-content h2 {
    padding-bottom: 20px;
}

.bg-01{
    background: #f6680b;
    color: #fff;
}

.bg-02{
    background: #96d735;
    color: #fff;
}

/* Footer */
.footer-info {
    width: 100%;
    height: 100%;
    background: #444;
    color: #fff;
  }

  .footer-info a {
   
    color: #fff;
  }
  
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
  }

.logo-ft {
    margin: auto 0;
    color: #fff;
  }

.logo-ft .upper {
    color: #96d735;
  }
  
  .logo-ft img {
    width: 100px;
    height: 100px;
  }
  
  /* Newsletter*/
  
  .newsletter {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .newsletter h3 {
    margin-bottom: 8px;
    color: #96d735;
  }
  
  .newsletter p, 
  .username, 
  .email {
    margin-bottom: 12px;
  }
  
  .username, 
  .email,
  .subscribe {
    width: 245px;
    height: 32px;
    padding: 5px;
    border: transparent;
  }
  
  .subscribe {
    background: #96d735;
    color: #fff;
  }
  
  .subscribe:hover {
    background: #96d735;
    transition: all 350ms ease-in-out;
    cursor: pointer;
  }
  
  /* Site Links */
  
  .site-links {
    margin-top: 20px;
  }
  
  .site-links ul {
    list-style: none;
  }
  
  .site-links h3 {
    margin-bottom: 8px;
    color: #96d735;
  }
  
  .site-links li {
    padding: 4px 0px;
    border-bottom: 1px solid #555;
    width: 200px;
  }
  
  .site-links a:hover {
    color: #96d735;
  }
  
  /* RRSS */
  
  .rrss {
    margin-top: 20px;
  }
  
  .rrss h3 {
    margin-bottom: 20px;
    color: #96d735;
  }
  
  .rrss-ct {
    margin-bottom: 25px;
  }
  
  .rrss-ct a:hover {
    color: #96d735;
    transition: all 200ms ease-in-out;
  }
  
  .rs-logo {
    font-family: 'WebSymbolsRegular';
    margin-right: 10px;
    background: #fff;
    color: #72b156;
    padding: 8px;
    border-radius: 100px;
  }
  
  /* Copyright */
  .copyright {
    height: 100%;
  }

  .copyright p {
    text-align: center;
    margin: 45px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
  }
  





